@import
  'mixins',
  'variables';


  .container {
    margin-bottom: 2rem;
    text-align: center;
  }

  .button__send {
    font-size: 1rem;
    border: 2px solid $primary_pink;
    border-radius: 15px;
    background-color: $primary_black;
    cursor: pointer;
    font-family: $fira;
    padding: 0.5rem 1rem;
    &:hover,
    &:focus,
    &:active {
      background-color: $primary_pink;
      box-shadow: 0px 0px 99px 2px $primary_pink;
      a {
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: $primary_pink;
    }
  }
  
  .button__copy {
    font-size: 1rem;
    border: none;
    text-decoration: underline;
    color: $primary_pink;
    background-color: $primary_black;
    cursor: pointer;
    font-family: $fira;
    &:hover {
      background-color: $primary_pink;
      color: white;
      box-shadow: 0px 0px 99px 2px $primary_pink;
    }
  }
  
  
  
  