

a {
  color: $primary_blue;
  &:hover {
    color: $primary_pink;
  }
  &:active,
  &:focus {
    outline: 2px dotted $secondary_purple;
    outline-offset: 0.2rem;
  }
}

//layout - share_container 
