//VARIABLES

//colors
$primary_black: #1a1a1a;
$primary_blue: #a1d4d0;
$primary_pink: #f2a3c2;
$secondary_purple: #b9a9d2;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

$fira: "Fira Code", monospace;

//#######
//MIXINS

@mixin min_width_tablet {
  @media screen and (min-width: "768px") {
    @content;
  }
}

@mixin min_width_desktop {
  @media screen and (min-width: "1024px") {
    @content;
  }
}

//########
//STYLING

//base
html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary_black;
  color: $primary_blue;
  font-family: $fira;
}

textarea {
  background-color: $primary_black;
  color: $primary_blue;
  font-size: 1rem;
  font-family: $fira;
  min-width: 95%;
  border: 2px solid $primary_blue;
  border-radius: 15px;
  padding: 0.5rem;
  word-break: keep-all;
  height: 15rem;
}

a {
  color: $primary_blue;
  &:hover {
    color: $primary_pink;
  }
  &:active,
  &:focus {
    outline: 2px dotted $secondary_purple;
    outline-offset: 0.2rem;
  }
}

h1 {
  font-family: "Press Start 2P", cursive;
  margin-bottom: -1rem;
}

h2 {
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 0;
}


.pink {
  color: $primary_pink;
}

.binary {
  font-size: 0.8rem;
}

//layout - header & footer
header,
footer {
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

footer {
  font-size: 0.8rem;
  margin: 0 1rem;
}

//layout - main container

.main_container {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  @include min_width_tablet(){
    margin: 0 10%;
  }
  @include min_width_desktop(){
    margin: 0 15%;
  }

}

//layout - sub container
.sub_container {
  label {
    display: none;
  }
}

#binary_generator {
  margin-bottom: 2rem;
  color: $secondary_purple;
}

#binary_content {
  color: $primary_black;
  background-color: $secondary_purple;
  min-width: 95%;
  border: 2px solid $secondary_purple;
  border-radius: 15px;
  padding: 0.5rem;
  word-break: break-all;
  height: 15rem;
  @include min_width_tablet(){
    max-width: 95%;
  }
}

//layout - share_container 
.share_container {
  margin-bottom: 2rem;
  text-align: center;
}

//component - buttons

.primary_button {
  font-size: 1rem;
  border: 2px solid $primary_pink;
  border-radius: 15px;
  background-color: $primary_black;
  
  cursor: pointer;
  font-family: $fira;
  padding: 0.5rem;
  &:hover,
  &:focus,
  &:active {
    background-color: $primary_pink;
    box-shadow: 0px 0px 99px 2px $primary_pink;
    a {
      color: white;
    }
  }
  a {
    text-decoration: none;
    color: $primary_pink;
  }
}

.secondary_button {
  font-size: 1rem;
  border: none;
  text-decoration: underline;
  color: $primary_pink;
  background-color: $primary_black;
  cursor: pointer;
  font-family: $fira;
  &:hover {
    background-color: $primary_pink;
    color: white;
    box-shadow: 0px 0px 99px 2px $primary_pink;
  }
}



