$primary_black: #1a1a1a;
$primary_blue: #a1d4d0;
$primary_pink: #f2a3c2;
$secondary_purple: #b9a9d2;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

$fira: "Fira Code", monospace;
$press_start: "Press Start 2P", cursive;
